examples/example-patdemo/patdemo-type/src/main/resources/META-INF/dds/xsd/patdemo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dds="http://www.omg.org/dds" xmlns:tns="http://www.omg.org/IDL-Mapped/" targetNamespace="http://www.omg.org/IDL-Mapped/">
    <xsd:import namespace="http://www.omg.org/dds" schemaLocation="rti_dds_topic_types_common.xsd"/>
    <xsd:include schemaLocation="common.xsd"/>
    <xsd:simpleType name="ice.PatientType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="pt_unspecified">
                <xsd:annotation>
                    <xsd:appinfo>
                        <ordinal>0</ordinal>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <!-- @ordinal 0 -->
            <xsd:enumeration value="adult">
                <xsd:annotation>
                    <xsd:appinfo>
                        <ordinal>1</ordinal>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <!-- @ordinal 1 -->
            <xsd:enumeration value="pediatric">
                <xsd:annotation>
                    <xsd:appinfo>
                        <ordinal>2</ordinal>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <!-- @ordinal 2 -->
            <xsd:enumeration value="neonatal">
                <xsd:annotation>
                    <xsd:appinfo>
                        <ordinal>3</ordinal>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <!-- @ordinal 3 -->
        </xsd:restriction>
    </xsd:simpleType>
    <!-- @bitBound 32 -->
        <!-- @topLevel false -->
    <xsd:simpleType name="ice.PatIdType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="pid_temporary">
                <xsd:annotation>
                    <xsd:appinfo>
                        <ordinal>0</ordinal>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <!-- @ordinal 0 -->
            <xsd:enumeration value="pid_medical_record_number">
                <xsd:annotation>
                    <xsd:appinfo>
                        <ordinal>1</ordinal>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <!-- @ordinal 1 -->
            <xsd:enumeration value="pid_national">
                <xsd:annotation>
                    <xsd:appinfo>
                        <ordinal>2</ordinal>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <!-- @ordinal 2 -->
        </xsd:restriction>
    </xsd:simpleType>
    <!-- @bitBound 32 -->
        <!-- @topLevel false -->
    <xsd:complexType name="ice.PatientIdentificationEntry">
        <xsd:sequence>
            <xsd:element name="patient_id" minOccurs="1" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="64" fixed="true"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
                <!-- @key true -->
            <xsd:element name="type" minOccurs="1" maxOccurs="1" type="tns:ice.PatIdType"/>
                <!-- @key true -->
            <xsd:element name="provenance" minOccurs="1" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="64" fixed="true"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
                <!-- @key true -->
            <xsd:element name="verified" minOccurs="1" maxOccurs="1" type="tns:ice.BOOL"/>
        </xsd:sequence>
    </xsd:complexType>
    <!-- @struct true -->
        <!-- @topLevel false -->
    <xsd:complexType name="ice.PatientIdentificationList">
        <xsd:sequence>
            <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="tns:ice.PatientIdentificationEntry"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="ice.PatDemoState">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="empty">
                <xsd:annotation>
                    <xsd:appinfo>
                        <ordinal>0</ordinal>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <!-- @ordinal 0 -->
            <xsd:enumeration value="pre_admitted">
                <xsd:annotation>
                    <xsd:appinfo>
                        <ordinal>1</ordinal>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <!-- @ordinal 1 -->
            <xsd:enumeration value="admitted">
                <xsd:annotation>
                    <xsd:appinfo>
                        <ordinal>2</ordinal>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <!-- @ordinal 2 -->
            <xsd:enumeration value="discharged">
                <xsd:annotation>
                    <xsd:appinfo>
                        <ordinal>8</ordinal>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <!-- @ordinal 8 -->
        </xsd:restriction>
    </xsd:simpleType>
    <!-- @bitBound 32 -->
        <!-- @topLevel false -->
    <xsd:simpleType name="ice.PatientSex">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="sex_unknown">
                <xsd:annotation>
                    <xsd:appinfo>
                        <ordinal>0</ordinal>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <!-- @ordinal 0 -->
            <xsd:enumeration value="sex_male">
                <xsd:annotation>
                    <xsd:appinfo>
                        <ordinal>1</ordinal>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <!-- @ordinal 1 -->
            <xsd:enumeration value="sex_female">
                <xsd:annotation>
                    <xsd:appinfo>
                        <ordinal>2</ordinal>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <!-- @ordinal 2 -->
            <xsd:enumeration value="sex_unspecified">
                <xsd:annotation>
                    <xsd:appinfo>
                        <ordinal>9</ordinal>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <!-- @ordinal 9 -->
        </xsd:restriction>
    </xsd:simpleType>
    <!-- @bitBound 32 -->
        <!-- @topLevel false -->
    <xsd:simpleType name="ice.PatientGender">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="gender_unknown">
                <xsd:annotation>
                    <xsd:appinfo>
                        <ordinal>0</ordinal>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <!-- @ordinal 0 -->
            <xsd:enumeration value="gender_male">
                <xsd:annotation>
                    <xsd:appinfo>
                        <ordinal>1</ordinal>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <!-- @ordinal 1 -->
            <xsd:enumeration value="gender_female">
                <xsd:annotation>
                    <xsd:appinfo>
                        <ordinal>2</ordinal>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <!-- @ordinal 2 -->
            <xsd:enumeration value="gender_unspecified">
                <xsd:annotation>
                    <xsd:appinfo>
                        <ordinal>9</ordinal>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <!-- @ordinal 9 -->
        </xsd:restriction>
    </xsd:simpleType>
    <!-- @bitBound 32 -->
        <!-- @topLevel false -->
    <xsd:complexType name="ice.PatMeasure">
        <xsd:sequence>
            <xsd:element name="value" minOccurs="1" maxOccurs="1" type="tns:ice.FLOATType"/>
            <xsd:element name="m_unit" minOccurs="1" maxOccurs="1" type="tns:ice.OIDType"/>
        </xsd:sequence>
    </xsd:complexType>
    <!-- @struct true -->
        <!-- @topLevel false -->
    <xsd:simpleType name="ice.PatientClass">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ptclass_unspecified">
                <xsd:annotation>
                    <xsd:appinfo>
                        <ordinal>0</ordinal>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <!-- @ordinal 0 -->
            <xsd:enumeration value="inpatient">
                <xsd:annotation>
                    <xsd:appinfo>
                        <ordinal>1</ordinal>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <!-- @ordinal 1 -->
            <xsd:enumeration value="outpatient">
                <xsd:annotation>
                    <xsd:appinfo>
                        <ordinal>2</ordinal>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <!-- @ordinal 2 -->
            <xsd:enumeration value="ptclass_emergency">
                <xsd:annotation>
                    <xsd:appinfo>
                        <ordinal>3</ordinal>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <!-- @ordinal 3 -->
        </xsd:restriction>
    </xsd:simpleType>
    <!-- @bitBound 32 -->
        <!-- @topLevel false -->
    <xsd:simpleType name="ice.RaceType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="race_unspecified">
                <xsd:annotation>
                    <xsd:appinfo>
                        <ordinal>0</ordinal>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <!-- @ordinal 0 -->
            <xsd:enumeration value="race_am_indian_or_alaska_native">
                <xsd:annotation>
                    <xsd:appinfo>
                        <ordinal>1</ordinal>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <!-- @ordinal 1 -->
            <xsd:enumeration value="race_asian">
                <xsd:annotation>
                    <xsd:appinfo>
                        <ordinal>2</ordinal>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <!-- @ordinal 2 -->
            <xsd:enumeration value="race_black_or_african_am">
                <xsd:annotation>
                    <xsd:appinfo>
                        <ordinal>3</ordinal>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <!-- @ordinal 3 -->
            <xsd:enumeration value="race_native_hawaiian_or_other_pacific_islander">
                <xsd:annotation>
                    <xsd:appinfo>
                        <ordinal>4</ordinal>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <!-- @ordinal 4 -->
            <xsd:enumeration value="race_other">
                <xsd:annotation>
                    <xsd:appinfo>
                        <ordinal>5</ordinal>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <!-- @ordinal 5 -->
            <xsd:enumeration value="race_white">
                <xsd:annotation>
                    <xsd:appinfo>
                        <ordinal>6</ordinal>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <!-- @ordinal 6 -->
        </xsd:restriction>
    </xsd:simpleType>
    <!-- @bitBound 32 -->
        <!-- @topLevel false -->
    <xsd:complexType name="ice.PatientRace">
        <xsd:sequence>
            <xsd:element name="race_type" minOccurs="1" maxOccurs="1" type="tns:ice.RaceType"/>
            <xsd:element name="provenance" minOccurs="1" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="32" fixed="true"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- @struct true -->
        <!-- @topLevel false -->
    <xsd:complexType name="ice.PatientDemographics">
        <xsd:complexContent>
            <xsd:extension base="tns:ice.Top">
                <xsd:sequence>
                    <xsd:element name="pat_demo_state" minOccurs="1" maxOccurs="1" type="tns:ice.PatDemoState"/>
                    <xsd:element name="patient_class" minOccurs="1" maxOccurs="1" type="tns:ice.PatientClass"/>
                    <xsd:element name="patient_id" minOccurs="1" maxOccurs="1" type="tns:ice.PatientIdentificationList"/>
                    <xsd:element name="name" minOccurs="1" maxOccurs="1">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="100" fixed="true"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="given_name" minOccurs="1" maxOccurs="1">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="32" fixed="true"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="family_name" minOccurs="1" maxOccurs="1">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="32" fixed="true"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="middle_name" minOccurs="1" maxOccurs="1">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="32" fixed="true"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="birth_name" minOccurs="1" maxOccurs="1">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="32" fixed="true"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="suffix_name" minOccurs="1" maxOccurs="1">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="32" fixed="true"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="title_name" minOccurs="1" maxOccurs="1">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="32" fixed="true"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="sex" minOccurs="1" maxOccurs="1" type="tns:ice.PatientSex"/>
                    <xsd:element name="gender" minOccurs="1" maxOccurs="1" type="tns:ice.PatientGender"/>
                    <xsd:element name="race" minOccurs="1" maxOccurs="1" type="tns:ice.PatientRace"/>
                    <xsd:element name="patient_type" minOccurs="1" maxOccurs="1" type="tns:ice.PatientType"/>
                    <xsd:element name="date_of_birth" minOccurs="1" maxOccurs="1" type="tns:ice.Date"/>
                    <xsd:element name="chronological_age" minOccurs="1" maxOccurs="1" type="tns:ice.PatMeasure"/>
                    <xsd:element name="gestational_age" minOccurs="1" maxOccurs="1" type="tns:ice.PatMeasure"/>
                    <xsd:element name="patient_height" minOccurs="1" maxOccurs="1" type="tns:ice.PatMeasure"/>
                    <xsd:element name="patient_weight" minOccurs="1" maxOccurs="1" type="tns:ice.PatMeasure"/>
                    <xsd:element name="patient_birth_length" minOccurs="1" maxOccurs="1" type="tns:ice.PatMeasure"/>
                    <xsd:element name="patient_birth_weight" minOccurs="1" maxOccurs="1" type="tns:ice.PatMeasure"/>
                    <xsd:element name="patient_head_circumference" minOccurs="1" maxOccurs="1" type="tns:ice.PatMeasure"/>
                    <xsd:element name="mother_patient_id" minOccurs="1" maxOccurs="1" type="tns:ice.PatientIdentificationEntry"/>
                    <xsd:element name="mother_name" minOccurs="1" maxOccurs="1">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="100" fixed="true"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <!-- @struct true -->
        <!-- @topLevel true -->
</xsd:schema>
